.advantages {
  background-color: $main-background-color;
  padding-top: 94px;
  padding-bottom: 60px;
  &__list {
    display: block;
    margin-bottom: -30px;
  }
  &__item {
    margin-bottom: 30px;
  }
}

.advantages-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: $secondary-background-color;
  border-radius: 4px;
  margin-bottom: 30px;
  &__titles {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
    margin-bottom: 10px;
    text-align: center;
  }
  &__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

@media (min-width: 768px) {
  .advantages {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px -30px;
    }
    &__item {
      width: 50%;
      padding: 0 15px;
    }
  }
  .advantages-box {
    &__titles {
      text-align: left;
    }
  }
}

@media (min-width: 1200px) {
  .advantages {
    padding-bottom: 94px;
    &__item {
      width: 25%;
    }
  }
}